<div class="center-card">
  <mat-card class="card mat-elevation-z0">
    <mat-card-header>
      <span class="fill-space"></span>
      <div class="center-text">
        <mat-card-title>Allee</mat-card-title>
        <mat-card-subtitle>I am still under construction</mat-card-subtitle>
      </div>
      <span class="fill-space"></span>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutGap="" fxLayoutAlign="flex-start">
        <mat-card fxFlex="50%" class="mat-elevation-z0">
          This is col one
        </mat-card>
        <mat-card fxFlex="50%" class="mat-elevation-z0">
          This is col two
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>

